// import font form google
// @import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,400i,600,700,800&display=swap');

// import font form local
@font-face {
    font-family: 'Sarabun';
    src: url('./src/assets/fonts/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$body-font-family: 'Sarabun';

$typoOptions: display-4, display-3, display-2, display-1, headline, title, subtitle-1, subtitle-2, body-1, body-2, caption, overline;

#app {
    font-family: $body-font-family, sans-serif !important;

    @each $typoOption in $typoOptions {
        .#{$typoOption} {
            font-family: $body-font-family, sans-serif !important;
        }
    }
}